%table
  %tr
    %th HP
    %th SP
    %th ATK 
    %th DEF
    %th INT
    %th RES
    %th HIT
    %th SPD
  %tr
    %td= h stat.stat_hp
    %td= h stat.stat_sp
    %td= h stat.stat_atk
    %td= h stat.stat_def
    %td= h stat.stat_int
    %td= h stat.stat_res
    %td= h stat.stat_hit
    %td= h stat.stat_spd
